/* CSS Document */
*{ margin:0;padding:0;font-size:12px;color:#666;font-family:"微软雅黑","宋体";}
img{ border:none;diaplay:block;}
h1,h2,h3{ font-weight:normal;}
a{ text-decoration:none;}
li{list-style:none;}
.c10{ height:10px;}


