/* CSS Document */
.jt_down{ width:17px;height:10px;display:inline-block;vertical-align:middle;background:url(../images/icons/icons_down_03.png) no-repeat center;}
.sj_down{ width:14px;height:9px;display:inline-block;vertical-align:middle;background:url(../images/icons/down.png) no-repeat center;}
.sj_right{ width:9px;height:13px;display:inline-block;vertical-align:middle;background:url(../images/icons/right.png) no-repeat center;}
